 <div>
  <h1>Your Dashboard</h1>
 </div> 

<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title"><strong>Title:</strong></label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post"><strong>Content:</strong></label>
      <textarea id="post" name="post"></textarea>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
     <strong> <a href="/post/{{id}}" target="_blank">{{title}}</a> </strong><a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>
